<div ref="markerImage">
    <a ref="clickStart">
        <img ref="gridImage" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Numbered_14x20_grid.svg" width="100%" crossorigin="anonymous"/>
    </a>
</div>
